<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src * 'unsafe-inline'; media-src *; img-src * data: content: blob:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  
    <title>ユーティリティ</title>

    <script src="js/methods_utils.js"></script>
    <script src="js/vue_utils.js"></script>

    <script src="dist/js/vconsole.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="dist/js/crypto-js.js"></script>
    <script src="dist/js/base64url-arraybuffer.js"></script>
    <script src="dist/js/qrcode.min.js"></script>
    <script src="dist/js/jsQR.js"></script>
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.6/chroma.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.9.1/beautify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.9.1/beautify-css.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.9.1/beautify-html.js"></script>
</head>
<body>
    <div id="top" class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#qrcode" data-toggle="tab">QRコード</a></li>
            <li role="presentation"><a href="#encode" data-toggle="tab">エンコード</a></li>
            <li role="presentation"><a href="#string" data-toggle="tab">文字列</a></li>
            <li role="presentation"><a href="#passwd" data-toggle="tab">パスワード</a></li>
            <li role="presentation"><a href="#color" data-toggle="tab">カラー</a></li>
            <li role="presentation"><a href="#crypto" data-toggle="tab">暗号化</a></li>
            <li role="presentation"><a href="#binary" data-toggle="tab">バイナリファイル</a></li>
            <li role="presentation"><a href="#array" data-toggle="tab">バイト配列</a></li>
            <li role="presentation"><a href="#date" data-toggle="tab">日時</a></li>
            <li role="presentation"><a href="#cardinal" data-toggle="tab">基数</a></li>
            <li role="presentation"><a href="#clip" data-toggle="tab">クリップ</a></li>
            <li role="presentation"><a href="#arrange" data-toggle="tab">整形</a></li>
            <li role="presentation"><a href="#gengou" data-toggle="tab">元号</a></li>
            <li role="presentation"><a href="#scraping" data-toggle="tab">スクレイピング</a></li>
            <li role="presentation"><a href="#trend" data-toggle="tab">トレンド</a></li>
            <li role="presentation"><a href="#notify" data-toggle="tab">通知</a></li>
            <li role="presentation"><a href="#qiita" data-toggle="tab">Qiita</a></li>
            <li role="presentation"><a href="#help" data-toggle="tab">ヘルプ</a></li>
        </ul>

        <div class="tab-content">

            <div id="qrcode" class="tab-pane fade in active">
                <h2 class="page-header">QRコード</h2>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"><a data-toggle="collapse" href="#qrcode_create_panel">QRコード生成</a></div>
                    </div>
                    <div class="panel-collapse collapse in" id="qrcode_create_panel">
                        <div class="panel-body">
                            <label>入力</label>
                            <input type="text" class="form-control" v-model="qrcode_input">
                            <button class="btn btn-primary" v-on:click="qrcode_create()">生成</button><br>
                            <br>
                            <div id="qrcode_area"></div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" data-toggle="collapse" href="#qrcode_create_panel">閉じる</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"><a data-toggle="collapse" href="#qrcode_scan_panel">QRコードスキャン</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="qrcode_scan_panel">
                        <div class="panel-body">
                            <label>scaned data</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#qrcode_scaned_data"></button>
                                </span>
                                <input id="qrcode_scaned_data" type="text" class="form-control" v-model="qrcode_scaned_data" readonly>
                            </div><br>
                            <button class="btn btn-primary" v-on:click="qrcode_scan()">{{qrcode_btn}}</button><br>
                            <div>
                                <img v-show="!qrcode_running && qrcode_scaned_data==''" id="qrcode_start" src="./img/qrcode_start.png"><br>
                                <video v-show="qrcode_running" id="qrcode_camera" autoplay></video>
                                <canvas v-show="!qrcode_running && qrcode_scaned_data!=''" id="qrcode_canvas"></canvas>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" data-toggle="collapse" href="#qrcode_scan_panel">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="string" class="tab-pane fade in">
                <h2 class="page-header">文字列</h2>
                <h3>UTF8 ⇔ バイト配列</h3>
                <label>入力</label>
                <textarea class="form-control" rows="3" v-model="string_input"></textarea>
                <button class="btn btn-primary" v-on:click="string_encode(true)">toバイト配列</button>
                <button class="btn btn-primary" v-on:click="string_encode(false)">fromバイト配列</button><br>
                <label>出力</label><br>
                <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#string_output"></button>
                <textarea id="string_output" class="form-control" rows="3" readonly>{{string_output}}</textarea>
            </div>

            <div id="crypto" class="tab-pane fade in">
                <h2 class="page-header">暗号化</h2>
                <h3>HMAC(SHA256)</h3>
                <label>入力</label>
                <textarea class="form-control" rows="2" v-model="hmac_input"></textarea>
                <label>シークレット</label>
                <textarea class="form-control" rows="1" v-model="hmac_secret"></textarea>
                <button class="btn btn-primary" v-on:click="crypto_hmac()">生成</button><br>
                <label>出力</label><br>
                <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#hmac_output"></button>
                <textarea id="hmac_output" class="form-control" rows="2" readonly>{{hmac_output}}</textarea>

                <h3>AES</h3>
                <label>入力</label>
                <textarea class="form-control" rows="3" v-model="aes_input"></textarea>
                <label>初期ベクトル</label>
                <textarea class="form-control" rows="1" v-model="aes_iv"></textarea>
                <label>暗号鍵</label>
                <textarea class="form-control" rows="1" v-model="aes_secret"></textarea>
                <button class="btn btn-primary" v-on:click="crypto_aes(true)">暗号化</button>
                <button class="btn btn-primary" v-on:click="crypto_aes(false)">復号化</button><br>
                <label>出力</label><br>
                <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#aes_output"></button>
                <textarea id="aes_output" class="form-control" rows="3" readonly>{{aes_output}}</textarea>
            </div>

            <div id="encode" class="tab-pane fade in">
                <h2 class="page-header">エンコーディング</h2>
                <h3>Base64エンコード</h3>
                <label>入力</label>
                <textarea class="form-control" rows="5" v-model="base64_input"></textarea>
                <button class="btn btn-primary" v-on:click="base64_encode(true)">エンコード</button>
                <button class="btn btn-primary" v-on:click="base64_encode(false)">デコード</button>&nbsp;&nbsp;
                <button class="btn btn-primary" v-on:click="base64_encode(true, true)">バイナリエンコード</button>
                <button class="btn btn-primary" v-on:click="base64_encode(false, true)">バイナリデコード</button><br>
                <label>出力</label><br>
                <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#base64_output"></button>
                <textarea id="base64_output" class="form-control" rows="5" readonly>{{base64_output}}</textarea>

                <h3>Base64URLエンコード</h3>
                <label>入力</label>
                <textarea class="form-control" rows="5" v-model="base64url_input"></textarea>
                <button class="btn btn-primary" v-on:click="base64url_encode(true)">バイナリエンコード</button>
                <button class="btn btn-primary" v-on:click="base64url_encode(false)">バイナリデコード</button><br>
                <label>出力</label><br>
                <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#base64url_output"></button>
                <textarea id="base64url_output" class="form-control" rows="5" readonly>{{base64url_output}}</textarea>

                <h3>URLエンコード</h3>
                <label>入力</label>
                <input type="text" class="form-control" v-model="url_input">
                <button class="btn btn-primary" v-on:click="url_encode(true)">エンコード</button>
                <button class="btn btn-primary" v-on:click="url_encode(false)">デコード</button><br>
                <label>出力</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#url_output"></button>
                    </span>
                    <input id="url_output" type="text" class="form-control" v-model="url_output" readonly>
                </div>

                <h3>HTMLエンティティエンコード</h3>
                <label>入力</label>
                <input type="text" class="form-control" v-model="html_input">
                <button class="btn btn-primary" v-on:click="html_encode(encode_html_space)">エンコード</button>
                <input type="checkbox" v-model="encode_html_space">半角スペース<br>
                <label>出力</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#html_output"></button>
                    </span>
                    <input id="html_output" type="text" class="form-control" v-model="html_output" readonly>
                </div>
            </div>

            <div id="passwd" class="tab-pane fade in">
                <h2 class="page-header">パスワード</h2>
                <div class="form-inline">
                    <label>パスワード文字数</label>
                    <input type="number" class="form-control" size="2" v-model.number="passwd_num">文字
                </div>
                <br>
                <div class="form-inline">
                    <input type="checkbox" v-model="passwd_check_lower_letter">小文字　
                    <input type="checkbox" v-model="passwd_check_upper_letter">大文字　
                    <input type="checkbox" v-model="passwd_check_ecept_lO">IとlとOを除く(大文字のアイと小文字のエルと大文字のオー)
                </div>
                <div class="form-inline">
                    <input type="checkbox" v-model="passwd_check_number">数字
                    <input type="number" class="form-control" size="2" v-model.number="passwd_number_num">個
                </div>
                <div class="form-inline">
                    <input type="checkbox" v-model="passwd_check_symbol">記号
                    <select class="form-control" v-model="passwd_symbol_pattern">
                        <option value="-+*/_">-+*/_</option>
                        <option value="=-+*/;,._">=-+*/;,._</option>
                        <option value="@#$%&?!">@#$%&?!</option>
                        <option value="!@#$%^&*()_+-=[]{}|">!@#$%^&*()_+-=[]{}|</option>
                        <option value="!#$%&()=-\@+*/?'^~|`;,._[]{}">!#$%&()=-\@+*/?'^~|`;,._[]{}</option>
                    </select>
                    <input type="number" class="form-control" size="2" v-model.number="passwd_symbol_num">個　
                </div>
                <button class="btn btn-primary" v-on:click="passwd_create()">生成</button><br>
                <br>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#passwd_password"></button>
                    </span>
                    <input id="passwd_password" type="text" class="form-control" v-model="passwd_password" readonly>
                </div>
            </div> 

            <div id="color" class="tab-pane fade in">
                <h2 class="page-header">カラー</h2>
                <div class="form-inline">
                    <input type="color" v-on:change="color_change" v-model="color_value">&nbsp;&nbsp;
                    <label>RGB:</label> <input type="text" size="7" class="form-control" v-model="color_value">
                </div>
                <br>
                <table class="table table-borderless">
                    <td v-bind:bgcolor="color_value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td><label>R:</label><input type="range" min="0" max="255" v-model.number="color_r" v-on:input="color_range"><input type="number" class="form-control" v-model.number="color_r" v-on:change="color_range"></td>
                    <td><label>G:</label><input type="range" min="0" max="255" v-model.number="color_g" v-on:input="color_range"><input type="number" class="form-control" v-model.number="color_g" v-on:change="color_range"></td>
                    <td><label>B:</label><input type="range" min="0" max="255" v-model.number="color_b" v-on:input="color_range"><input type="number" class="form-control" v-model.number="color_b" v-on:change="color_range"></td>
                </table>
                <br>
                <h4>一番近い色 <button class="btn btn-default btn-sm" v-on:click="color_do_near">検索</button></h4>
                <div v-if="color_near">
                    <table class="table table-striped">
                        <thead>
                            <tr><th>選択</th><th>カラー</th><th>名称</th><th>RGB</th><th>R</th><th>G</th><th>B</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><button class="btn btn-default btn-xs" v-on:click="color_select(color_near.rgb)">選択</button></td>
                                <td v-bind:bgcolor="color_near.rgb" v-on:click="color_select(color_near.rgb)"></td><td><label>{{color_near.name}}</label></td>
                                <td>{{color_near.rgb.toLowerCase()}}</td><td>{{rgb2num(color_near.rgb, 'r')}}</td><td>{{rgb2num(color_near.rgb, 'g')}}</td><td>{{rgb2num(color_near.rgb, 'b')}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h4>基本16色</h4>
                <table class="table table-striped">
                    <thead>
                        <tr><th>選択</th><th>カラー</th><th>名称</th><th>RGB</th><th>R</th><th>G</th><th>B</th></tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in color_basic_list">
                            <td><button class="btn btn-default btn-xs" v-on:click="color_select(item.rgb)">選択</button></td>
                            <td v-bind:bgcolor="item.rgb" v-on:click="color_select(item.rgb)"></td><td><label>{{item.name}}</label></td>
                            <td>{{item.rgb.toLowerCase()}}</td><td>{{rgb2num(item.rgb, 'r')}}</td><td>{{rgb2num(item.rgb, 'g')}}</td><td>{{rgb2num(item.rgb, 'b')}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                        <tr><th>選択</th><th>カラー</th><th>名称</th><th>RGB</th><th>R</th><th>G</th><th>B</th></tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in color_list">
                            <td><button class="btn btn-default btn-xs" v-on:click="color_select(item.rgb)">選択</button></td>
                            <td v-bind:bgcolor="item.rgb" v-on:click="color_select(item.rgb)"></td><td><label>{{item.name}}</label></td>
                            <td>{{item.rgb.toLowerCase()}}</td><td>{{rgb2num(item.rgb, 'r')}}</td><td>{{rgb2num(item.rgb, 'g')}}</td><td>{{rgb2num(item.rgb, 'b')}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="binary" class="tab-pane fade in">
                <h2 class="page-header">バイナリファイル</h2>
                <input type="file" v-on:change="binary_open" v-on:click="binary_click">
                <label>type</label> {{binary_type}}
                <button v-if="binary_type.startsWith('image/') || binary_type.startsWith('text/')" class="btn btn-default btn-sm" v-on:click="dialog_open('#binary_image_dialog')">内容表示</button><br><br>
                <div class="form-inline" v-on:change="binary_change()">
                    <label>変換</label>
                    <select class="form-control" v-model="binary_format">
                        <option value="none" selected>無し</option>
                        <option value="cr">改行</option>
                        <option value="dataurl">Data URL</option>
                    </select>
                </div>
                <div v-if="binary_format=='cr'" class="form-inline">
                    <select class="form-control" v-model.number="binary_cr_num">
                        <option value="0">無し</option>
                        <option value="2">2バイト</option>
                        <option value="4">4バイト</option>
                        <option value="8">8バイト</option>
                        <option value="16">16バイト</option>
                    </select>
                    <input type="checkbox" v-model="binary_space">空白　
                    <button class="btn btn-default" v-on:click="binary_cr()">整形</button><br>
                </div>
                <textarea class="form-control" rows="10" readonly>{{binary_output}}</textarea>
                <br>
                <button class="btn btn-default btn-sm" v-on:click="binary_copy()">Copy</button><br>
                <textarea class="form-control" rows="10" v-model="binary_input"></textarea>
                <button v-on:click="binary_save()">ファイルに保存</button><br>
            </div>

            <div id="array" class="tab-pane fade in">
                <h2 class="page-header">バイト配列</h2>
                <label>長さ</label> {{array_length}}<br>
                <br>
                <button class="btn btn-default" v-on:click="array_set(0)">変換</button>
                <label>(例) 0011aabb</label>
                <input type="text" class="form-control data-block" v-model="array_pattern[0]">
                <br>
                <button class="btn btn-default" v-on:click="array_set(1)">変換</button>
                <label>(例) 00 11 aa bb</label>
                <input type="text" class="form-control data-block" v-model="array_pattern[1]">
                <br>
                <button class="btn btn-default" v-on:click="array_set(2)">変換</button>
                <label>(例) 0x00, 0x11, 0xaa, 0xbb</label>
                <input type="text" class="form-control data-block" v-model="array_pattern[2]">
                <br>
                <button class="btn btn-default" v-on:click="array_set(3)">変換</button>
                <label>(例) (byte)0x00, (byte)0x11, (byte)0xaa, (byte)0xbb</label>
                <input type="text" class="form-control data-block" v-model="array_pattern[3]">
                <br>
                <button class="btn btn-default" v-on:click="array_set(4)">変換</button>
                <label>(例) 0, 1, 2, 3, 4</label>
                <input type="text" class="form-control data-block" v-model="array_pattern[4]">
            </div>

            <div id="date" class="tab-pane fade in">
                <h2 class="page-header">日時</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">基準時間
                            <button class="btn btn-default" v-on:click="date_get_now('base')">現在時間</button>
                            <button class="btn btn-default" v-on:click="date_input_dialog('base')">手動設定</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <label>UNIX時間(msec)</label>
                        <input type="text" class="form-control" v-model="date_unix" readonly>
                        <label>ISO-8601(UTC)</label>
                        <input type="text" class="form-control" v-model="date_iso" readonly>
                        <label>ISO-8601(JST)</label>
                        <input type="text" class="form-control" v-model="date_iso2" readonly>
                        <label>Locale</label>
                        <input type="text" class="form-control" v-model="date_locale" readonly>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">経過期間
                            <button class="btn btn-default btn-sm" v-on:click="date_duration=0">リセット</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-inline">
                                <select class="form-control" v-model="date_duration_unit">
                                    <option value="year">年</option>
                                    <option value="month">月</option>
                                    <option value="day">日</option>
                                    <option value="hour">時</option>
                                    <option value="minute">分</option>
                                    <option value="second">秒</option>
                                </select>
                                <input type="number" class="form-control" v-model.number="date_duration">&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" v-on:click="date_process()">経過日時に変換</button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">経過日時
                            <button class="btn btn-default" v-on:click="date_get_now('elapsed')">現在時間</button>
                            <button class="btn btn-default" v-on:click="date_input_dialog('elapsed')">手動設定</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <label>UNIX時間(msec)</label>
                        <input type="text" class="form-control" v-model="date_unix_after" readonly>
                        <label>ISO-8601(UTC)</label>
                        <input type="text" class="form-control" v-model="date_iso_after" readonly>
                        <label>ISO-8601(JST)</label>
                        <input type="text" class="form-control" v-model="date_iso2_after" readonly>
                        <label>Locale</label>
                        <input type="text" class="form-control" v-model="date_locale_after" readonly>
                    </div>
                    <div class="panel-footer">
                        <div class="form-inline">
                            <select class="form-control" v-model="date_duration_unit">
                                <option value="year">年</option>
                                <option value="month">月</option>
                                <option value="day">日</option>
                                <option value="hour">時</option>
                                <option value="minute">分</option>
                                <option value="second">秒</option>
                            </select>
                            <button class="btn btn-primary" v-on:click="date_elapsed_process()">経過日時を経過期間に変換</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cardinal" class="tab-pane fade in">
                <h2 class="page-header">基数</h2>
                <label>10進数</label>
                <div class="form-inline">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#cardinal_decimal_copy"></button>
                        </span>
                        <input type="text" id="cardinal_decimal_copy" size="40" class="form-control text-right" v-model="cardinal_decimal">
                    </div>
                    <button class="btn btn-default" v-on:click="cardinal_convart(10)">セット</button>&nbsp;&nbsp;
                    <div class="btn-group">
                        <button class="btn btn-default" v-on:click="cardinal_shift(10, 'left')">&lt;&lt;</button>
                        <button class="btn btn-default" v-on:click="cardinal_shift(10, 'right')">&gt;&gt;</button>&nbsp;&nbsp;
                    </div>
                </div>
                <br>
                <label>2進数</label>
                <div class="form-inline">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#cardinal_binary_copy"></button>
                        </span>
                        <input type="text" id="cardinal_binary_copy" size="40" class="form-control text-right" v-model="cardinal_binary">
                    </div>
                    <button class="btn btn-default" v-on:click="cardinal_convart(2)">セット</button>&nbsp;&nbsp;
                    <div class="btn-group">
                        <button class="btn btn-default" v-on:click="cardinal_shift(2, 'left')">&lt;&lt;</button>
                        <button class="btn btn-default" v-on:click="cardinal_shift(2, 'right')">&gt;&gt;</button>&nbsp;&nbsp;
                    </div>
                    <input type="checkbox" v-model="cardinal_check_binary">0埋め
                    <input type="text" class="form-control" size="2" v-model="cardinal_binary_num">桁&nbsp;
                </div>
                <br>
                <label>16進数</label>
                <div class="form-inline">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#cardinal_hexadecimal_copy"></button>
                        </span>
                        <input type="text" id="cardinal_hexadecimal_copy" size="40" class="form-control text-right" v-model="cardinal_hexadecimal">
                    </div>
                    <button class="btn btn-default" v-on:click="cardinal_convart(16)">セット</button>&nbsp;&nbsp;
                    <div class="btn-group">
                        <button class="btn btn-default" v-on:click="cardinal_shift(16, 'left')">&lt;&lt;</button>
                        <button class="btn btn-default" v-on:click="cardinal_shift(16, 'right')">&gt;&gt;</button>&nbsp;&nbsp;
                    </div>
                    <input type="checkbox" v-model="cardinal_check_hexadecimal">0埋め
                    <input type="text" class="form-control" size="2" v-model="cardinal_hexadecimal_num">桁&nbsp;
                </div>
            </div>

            <div id="clip" class="tab-pane fade in">
                <h2 class="page-header">クリップ</h2>
                <span class="glyphicon glyphicon-erase">クッキーから消去</span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-floppy-disk">クッキーに保存</span>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-paperclip">クリップボードにコピー</span>&nbsp;&nbsp;
                <br><br>
                <button class="btn btn-default" v-on:click="clip_clearall()">クッキーから全消去</button><br>
                <label>入力0</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-erase" v-on:click="clip_clear(0)"></button>
                        <button class="btn btn-default glyphicon glyphicon-floppy-disk" v-on:click="clip_save(0)"></button>
                        <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#clip_data_id_0"></button>
                    </span>
                    <input id="clip_data_id_0" type="text" class="form-control" v-model="clip_data[0]">
                </div>
                <label>入力1</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-erase" v-on:click="clip_clear(1)"></button>
                        <button class="btn btn-default glyphicon glyphicon-floppy-disk" v-on:click="clip_save(1)"></button>
                        <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#clip_data_id_1"></button>
                    </span>
                    <input id="clip_data_id_1" type="text" class="form-control" v-model="clip_data[1]">
                </div>
                <label>入力2</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-erase" v-on:click="clip_clear(2)"></button>
                        <button class="btn btn-default glyphicon glyphicon-floppy-disk" v-on:click="clip_save(2)"></button>
                        <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#clip_data_id_2"></button>
                    </span>
                    <input id="clip_data_id_2" type="text" class="form-control" v-model="clip_data[2]">
                </div>
                <label>入力3</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-erase" v-on:click="clip_clear(3)"></button>
                        <button class="btn btn-default glyphicon glyphicon-floppy-disk" v-on:click="clip_save(3)"></button>
                        <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#clip_data_id_3"></button>
                    </span>
                    <input id="clip_data_id_3" type="text" class="form-control" v-model="clip_data[3]">
                </div>
                <label>入力4</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-erase" v-on:click="clip_clear(4)"></button>
                        <button class="btn btn-default glyphicon glyphicon-floppy-disk" v-on:click="clip_save(4)"></button>
                        <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#clip_data_id_4"></button>
                    </span>
                    <input id="clip_data_id_4" type="text" class="form-control" v-model="clip_data[4]">
                </div>
                <label>入力5</label>
                <span class="input-group-btn">
                    <button class="btn btn-default glyphicon glyphicon-erase" v-on:click="clip_clear(5)"></button>
                    <button class="btn btn-default glyphicon glyphicon-floppy-disk" v-on:click="clip_save(5)"></button>
                    <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#clip_data_id_5"></button>
                </span>
                <textarea id="clip_data_id_5" class="form-control" rows="2" v-model="clip_data[5]"></textarea>
                <label>入力6</label>
                <span class="input-group-btn">
                    <button class="btn btn-default glyphicon glyphicon-erase" v-on:click="clip_clear(6)"></button>
                    <button class="btn btn-default glyphicon glyphicon-floppy-disk" v-on:click="clip_save(6)"></button>
                    <button class="btn btn-default clip_btn glyphicon glyphicon-paperclip" data-clipboard-target="#clip_data_id_6"></button>
                </span>
                <textarea id="clip_data_id_6" class="form-control" rows="5" v-model="clip_data[6]"></textarea>
            </div>

            <div id="gengou" class="tab-pane fade in">
                <h2 class="page-header">元号</h2>
                <div class="form-inline">
                <label>和暦</label>
                    <select class="form-control" v-model="gengou_era_name">
                        <option value="令和">令和</option>
                        <option value="平成">平成</option>
                        <option value="昭和">昭和</option>
                        <option value="大正">大正</option>
                        <option value="明治">明治</option>
                        <option value="その他">その他</option>
                    </select>
                    <input type="text" class="form-control" size="5" v-model="gengou_era_other" v-if="gengou_era_name=='その他'">
                    <input type="number" class="form-control" size="4" v-model.number="gengou_era_year">年
                    <button class="btn btn-primary" v-on:click="gengou_to_anno()">変換</button><br>
                </div>
                <div class="form-inline">
                    <label>西暦</label>
                    <input type="number" class="form-control" size="5" v-model.number="gengou_anno_year">年
                    <button class="btn btn-primary" v-on:click="gengou_to_era()">変換</button><br>
                </div>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <tr><th>元号</th><th>読み</th><th>始期</th><th></th><th>終期</th><th>備考</th></tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in gengou_list">
                            <td>{{item.name}}</td><td>{{item.yomi}}</td><td>{{item.start}}</td><td>～</td><td>{{item.end}}</td><td>{{item.extra}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="scraping" class="tab-pane fade in">
                <h2 class="page-header">スクレイピング</h2>
                <p>
                    ※動作させるにはサーバが必要です。
                </p>
                <div class="form-inline">
                    <label>ApiKey</label>
                    <input type="password" class="form-control" v-model="server_apikey">
                </div>
                <label>URL</label>
                <input type="text" class="form-control" v-model="server_url">
                <hr>
                <h3>京急運行情報</h3>
                <button class="btn btn-primary" v-on:click="scraping_keikyu()">更新</button><br>
                <label>受信日時</label>{{scraping_keikyu_received_date}}
                <textarea class="form-control" rows="4" readonly>{{scraping_keikyu_message}}</textarea>
                <hr>
            </div>
    
            <div id="arrange" class="tab-pane fade in">
                <h2 class="page-header">整形</h2>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"><a data-toggle="collapse" href="#json_arrange_panel">JSON</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="json_arrange_panel">
                        <div class="panel-body">
                            <button class="btn btn-default" v-on:click="arrange_process('json')">整形</button><br>
                            <label>入出力</label>
                            <textarea class="form-control" rows="20" v-model="json_inout"></textarea>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" data-toggle="collapse" href="#json_arrange_panel">閉じる</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"><a data-toggle="collapse" href="#js_arrange_panel">Javascript</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="js_arrange_panel">
                        <div class="panel-body">
                            <button class="btn btn-default" v-on:click="arrange_process('javascript')">整形</button><br>
                            <label>入出力</label>
                            <textarea class="form-control" rows="20" v-model="js_inout"></textarea>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" data-toggle="collapse" href="#js_arrange_panel">閉じる</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"><a data-toggle="collapse" href="#html_arrange_panel">HTML</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="html_arrange_panel">
                        <div class="panel-body">
                            <button class="btn btn-default" v-on:click="arrange_process('html')">整形</button><br>
                            <label>入出力</label>
                            <textarea class="form-control" rows="20" v-model="html_inout"></textarea>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" data-toggle="collapse" href="#html_arrange_panel">閉じる</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"><a data-toggle="collapse" href="#css_arrange_panel">CSS</a></div>
                    </div>
                    <div class="panel-collapse collapse" id="css_arrange_panel">
                        <div class="panel-body">
                            <button class="btn btn-default" v-on:click="arrange_process('css')">整形</button><br>
                            <label>入出力</label>
                            <textarea class="form-control" rows="20" v-model="css_inout"></textarea>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" data-toggle="collapse" href="#css_arrange_panel">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="notify" class="tab-pane fade in">
                <h2 class="page-header">通知</h2>
                <p>
                    ※動作させるにはサーバが必要です。
                </p>
                <div class="form-inline">
                    <label>ApiKey</label>
                    <input type="password" class="form-control" v-model="server_apikey">
                </div>
                <label>URL</label>
                <input type="text" class="form-control" v-model="server_url">
                <hr>
                <h3>Gmail送信</h3>
                <label>メールアドレス</label>
                <input type="text" class="form-control" v-model="notify_gmail_address">
                <label>メッセージ</label>
                <textarea class="form-control" rows="2" v-model="notify_gmail_message"></textarea>
                <button class="btn btn-primary" v-on:click="notify_gmail()">送信</button><br>
                <hr>
                <h3>LINE通知</h3>
                <label>メッセージ</label>
                <textarea class="form-control" rows="2" v-model="notify_line_message"></textarea>
                <button class="btn btn-primary" v-on:click="notify_line()">通知</button><br>
            </div>

            <div id="qiita" class="tab-pane fade in">
                <h2 class="page-header">Qiita</h2>
                <p>
                    ※動作させるにはサーバが必要です。
                </p>
                <div class="form-inline">
                    <label>ApiKey</label>
                    <input type="password" class="form-control" v-model="server_apikey">
                </div>
                <label>URL</label>
                <input type="text" class="form-control" v-model="server_url">
                <hr>
                <button class="btn btn-primary" v-on:click="qiita_items()">取得</button><br>
                <label>受信日時</label>{{qiita_items_received_date}}
                <table class="table table-striped">
                    <thead>
                        <tr><th>#</th><th>タイトル</th><th>いいね数</th><th>View数</th><th>平均View数</th><th>経過日数</th><th>作成日</th></tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in qiita_item_list">
                            <td>{{index + 1}}</td><td><a v-bind:href="item.url" target="_blank">{{item.title}}</td></a><td>{{item.likes}}</td><td>{{item.views}}</td><td>{{item.average}}</td><td>{{item.elapsed_days}}</td><td>{{item.created_at}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>

            <div id="trend" class="tab-pane fade in">
                <h2 class="page-header">トレンドキーワード</h2>
                <p>
                    ※動作させるにはサーバが必要です。
                </p>
                <div class="form-inline">
                    <label>ApiKey</label>
                    <input type="password" class="form-control" v-model="server_apikey">
                </div>
                <label>URL</label>
                <input type="text" class="form-control" v-model="server_url">
                <hr>
                <button class="btn btn-primary" v-on:click="trend_get()">取得</button><br>
                <label>受信日時</label>{{trend_items_received_date}}
                <table class="table table-striped">
                    <thead>
                        <tr><th>#</th><th>トレンドキーワード</th></tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in trend_item_list">
                            <td>{{index + 1}}</td><td><a v-bind:href="'https://www.google.com/search?hl=ja&q=' + item" target="_blank">{{item}}</td></a></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>

            <div id="help" class="tab-pane fade in">
                <h2 class="page-header">ヘルプ</h2>
                <ul>
                    <li><a href="https://qiita.com/poruruba/items/6c67c7eef34ed302feb3" target="_blank">Qiita: 便利ページ：Javascriptでちょっとした便利な機能を作ってみた</a>
                    <li><a href="https://qiita.com/poruruba/items/f68455b2d937d2f052f4" target="_blank">Qiita: 便利ページ：自分のQiita記事を一覧表示</a>
                    <li><a href="https://qiita.com/poruruba/items/8aea492473a029a3865a" target="_blank">Qiita: 便利ページ：元号を変換してみた</a>
                    <li><a href="https://qiita.com/poruruba/items/2b4d978216131f5afa6a" target="_blank">Qiita: 便利ページ：トレンドキーワードを取得してみた</a>
                    <li><a href="https://qiita.com/poruruba/items/fb2442a6e4a679eae6e5" target="_blank">Qiita: 便利ページ：Javascriptで暗号化など追加</a>
                    <li><a href="https://qiita.com/poruruba/items/18f91780195abadbbb89" target="_blank">Qiita: 便利ページ：Javascriptでバイナリファイル操作</a>
                    <li><a href="https://qiita.com/poruruba/items/8c5ee3c56210b0b35e4a" target="_blank">Qiita: 便利ページ：Javascriptでカラーピッカー</a>
                    <li><a href="https://qiita.com/poruruba/items/59c3e6771aa9d957bfd0" target="_blank">Qiita: 便利ページ：JavascriptでQRコードスキャン</a>
                    <li><a href="https://qiita.com/poruruba/items/0d57d5b157a97a79dba6" target="_blank">Qiita: 便利ページ：データURLを生成する</a>
                </ul>
            </div>

        </div>
        <br>

        <div class="modal fade" id="date_input_dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">日時の入力</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-inline">
                            <label>フリー入力</label> <input type="text" class="form-control" v-model="date_input_free">
                            <button class="btn btn-primary" v-on:click="date_input_process('free')">入力</button>
                        </div>
                        <br>
                        <div class="form-inline">
                            <input type="date" class="form-control" v-model="date_input_date">
                            <input type="time" class="form-control" v-model="date_input_time">
                            <button class="btn btn-primary" v-on:click="date_input_process('control')">入力</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" v-on:click="dialog_close('#date_input_dialog')">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="binary_image_dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">内容表示
                            <span class="pull-right">
                                <button class="btn btn-default" v-on:click="dialog_close('#binary_image_dialog')">閉じる</button>
                            </span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <img v-if="binary_type.startsWith('image/')" v-bind:src="binary_dataurl" class="img-responsive" />
                        <pre v-if="binary_type.startsWith('text/')">{{binary_text}}</pre>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="progress">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{progress_title}}</h4>
                    </div>
                    <div class="modal-body">
                        <center><progress max="100" /></center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/gengou.js"></script>
    <script src="js/color.js"></script>
    <script src="js/start.js"></script>
</body>
